/* Remove default footer style */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #ffffff0c;
 outline: 5px solid ;
 
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--brand-font);
  text-transform: uppercase;
  font-size: var(--fs-size);
  color: var(--primary-color);
  letter-spacing: 3px;
  text-decoration: none;
  z-index: 10;
}
 /* This is the text that appears when you hover over the footer */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--secondary-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--secondary-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--secondary-color);
  background-color: var(--primary-color);
}
 /* Hover */
.footer:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--secondary-color));
}