.tabbutton {
   
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 4px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    outline-width: 3px;
    outline: invert;
    font-size: var(--medium-font-size);
    font-family: var(--sans-serif-font);
    overflow: hidden;
    transition: all 1s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
.tabbutton.active {
  animation: sh0 1s ease-in-out both;
  margin: 3px;
  box-shadow: 0 0 20px var(--tertiary-color);
  outline: none;
  position: relative;
  background-color: var(--primary-color);
}

.tabbutton.active::before,
.tabbutton.active::after {
  content: '';
  position: absolute;
  background-color: var(--primary-color);
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px var(--tertiary-color);
  opacity: 0;
  transform: scale(1);
  animation: glow 3s infinite;
}

@keyframes glow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

   
  
  .tabbutton:hover {
    animation: sh0 0.5s ease-in-out both;
    margin: 6px;
    box-shadow: 0 0 20px var(--secondary-color);
    outline: none;
  }
  
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  .tabbutton:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  .tabbutton::before,
  .tabbutton::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  .tabbutton:hover::before,
  .tabbutton:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  .tabbutton:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  
  .tabbutton:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }



  