@tailwind base;
@tailwind components;
@tailwind utilities;

/* Brand colors */
:root {
  --primary-color: #1B0112;
  --secondary-color: #5A0834;
  --tertiary-color: #9D0B51;
}

/* Font sizes */
:root {
  --small-font-size: 0.875rem; /* 14px */
  --medium-font-size: 1rem; /* 16px */
  --large-font-size: 1.25rem; /* 20px */
}

/* Font families */
:root {
  --sans-serif-font: 'Open Sans', sans-serif;
  --serif-font: 'Merriweather', serif;
  --monospace-font: 'Source Code Pro', monospace;
}

/* Text colors */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFFFFF;
    --background-start-color: var(--primary-color);
    --background-end-color: var(--tertiary-color);
  }
}

body {
  font-family: var(--sans-serif-font);
  font-size: var(--medium-font-size);
  color: var(--text-color);
  background: linear-gradient(to bottom, transparent, var(--background-end-color)) var(--background-start-color);
}
